<!DOCTYPE html>
<html>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
<body>

<div ng-app="" ng-init="name=['Sumit','Prakash']">
  <!-- <p>FName: <input type="text" ng-model="name[0]" ng-init="fname='Mobi'"></p>
  <p>LName: <input type="text" ng-model="lname" ng-init="lname='Tobi'"></p>
  <p>{{fname}}</p>
  <p>{{name[0]}}</p>
  <p ng-bind="lname"></p>
  <p>Hello Para</p> -->

  <div ng-controller="myfunction">
      <p>FName1: <input type="text" ng-model="user.fname1" ng-init="fname1='Hohjbi'"></p>
      <p>FName1: <input type="text" ng-model="user.fname2" ng-init="fname1='Hobi'"></p>
      <button ng-click="getName()">save</button>
  </div>

  <!-- <div ng-repeat="n in name">
    <span>{{n+" : "+($index+1)}}</span>
  </div> -->

  <!-- <div ng-controller="myfunction2">
    <p>FName2: <input type="text" ng-model="fname2" ng-init="fname2='Jobi'"></p>
    <button ng-click="getName()">save</button>
  </div> -->

</div>

</body>

<script>
function myfunction($scope){

    $scope.getName=function(){
      console.log($scope.user);
      console.log("Controller1: First ",$scope.fname1);
      $scope.fname1='Damaru';
      console.log("Controller1: Second ",$scope.fname1);
      alert("Controller1");
    }
}

// function myfunction2($scope){
//     $scope.getName=function(){
//       console.log("Controller2: ",$scope.fname1);
//       console.log("Controller2: ",$scope.fname2);
//       alert("Controller2");
//     }
// }
</script>

</html>
